{% extends "base.html" %}

{% block announce %}
<div style="text-align: center">
  <a href="https://gitlab.com/jsass/jsass/-/releases/5.11.0" target="_blank">
    Our New Year's maintenance release jsass 5.11 is here, now with Apple Silicon support!
  </a>
</div>
{% endblock %}
